
colocando um estilo css na pagina

<head>
	<style type="text/css">
		body {
			backgound:;
			margin-left:;
			margin-hight:;
			border:;
			padding:;
			font-family:;		
		}
	</style>
</head>

significado de cada propriedade

backgound:; cor de fundo
margin-left:; margem esquerda
margin-hight:; margem direita
border:; 
			padding:;
			font-family:;
